@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    box-sizing: border-box;
    user-select: none;
    
    
}

.filter-Btn {
    @apply flex items-center justify-center rounded-2xl border-gray-400 border-2 text-gray-600 font-semibold shadow-2xl p-1
}